body {
	background-color: Grey;
	margin: 50px;
    width: auto;
}

h3, h4 {
	color: Grey;
	text-align: center;
	font-family: Arial;
}

.header {
	background-color: LightGrey;
}

.nav {
	background-color: LightGrey;
}

.container {
	text-align: center;
	font-family: Arial;
	height: 250px;
}

.section {
    width:50%;
    height:auto;
    float:left;
    background-color: LightGrey;
    height: 250px;
 }

 .article {
    height:auto;
    background-color: Grey;
	margin: 10px;
	height: 175px;
	padding: 1px;
 }

.article h4 {
	color: lightGrey;
 }

 .this {
    height:auto;
    background-color: lightGrey;
	margin: 10px;
	height: 47px;
	padding: 1px;
 }

.this h3 {
	color: grey
 }

.that {
    height:auto;
    background-color: lightGrey;
	margin: 10px;
	height: 47px;
	padding: 1px;
	
 }

.that h4 {
	color: Grey;
 }

.aside {
    width: 47%;
    height:auto;
    background-color: LightGrey;
	float: right;
	height: 250px;
 }

.footer {
	background-color: LightGrey;
}
